.dashicons-metapic {
	background: url('../images/logo.png') center center no-repeat;
}

#metapic-backdrop {
    background: rgba(60,73,81,.9);
    background: rgba(#3C4951,.5);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100150;
}

html body.metapic-iframe-open {
    overflow: hidden !important;
}
#metapic-dashboard-widget h3.sub-header {
	padding: 0 0 8px;
}

#metapic-dashboard-widget .content {
	overflow:hidden;
	margin-bottom: 10px;
}

#metapic-dashboard-widget .content > div {
	width:50%;float:left;
}

#metapic-dashboard-widget footer {
	background: #fafafa none repeat scroll 0 0;
	border-top: 1px solid #ccc;
	overflow: hidden;
	padding: 0.75em;
	margin: 0 -12px -12px;
}

#metapic-dashboard-widget footer h3 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#metapic-dashboard-widget footer p {
	margin: 0;
	padding: 0;
}

#metapic-dashboard-widget footer > div {
	float: left;
	text-align: left;
	width: 50%;
}

#metapic-dashboard-widget .click-date {
	color: #777;
}

#metapic-dashboard-widget * {
	box-sizing: border-box;
}

.mtpc-deeplink-text {
	background: url("../images/logo/metapic-symbol-32.png") left center no-repeat;
	background-size: 18px 18px;
	display:inline-block;
	padding-left:26px;
}

#deeplink-status-display {
	font-weight:600;
}
.deeplink-status-edit {
	margin:10px 2px 0;
}

.mtpc-link:after {
	content: "";
	display: inline-block;
	background: url("../images/logo/metapic-symbol-16.png") no-repeat top right;
    background-size: 10px 10px;
	width: 10px;
	height: 10px;
}
.mtpc-product-list {
	display:block !important;
    list-style-type: none;
    font-size: 13px;
    color: #666;
    width: 100%;
}

.mtpc-product-list li {
    display: inline-block;
    padding: 5px 0px;
}
.mtpc-product-list li:first-child {
    margin-left:0px;
}
.mtpc-product-list li a {
    border-bottom: 1px solid #999;
}

.mtpc-product-list li a:before {
    content: '     //     ';
    margin: 0px 7px;
}
.mtpc-product-list li:first-child a:before {
    content: '';
    margin:0px;
    display:none;
}

.mtpc-collage {
	max-width: 100%;
}

#metapic-help-button {
    background: url("../images/logo/metapic-symbol-32.png") 8px center no-repeat;
    background-size: 14px 14px;
    display:inline-block;
    padding-left:25px;
}